main.landingPage {

}

main.landingPage > .content {
    width: 100%;
    height: 800px;
    text-align: center;
    align-content: center;
    justify-content: center;
    background: black;
}

main.landingPage > .content > .text {
    text-align: center;
    align-content: center;
    justify-content: center;
    position: relative;
    color: white;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 900;
}