main.notFoundPage {

}

main.notFoundPage > .content {
    width: 100%;
    height: 800px;
    text-align: center;
    align-content: center;
    justify-content: center;
    opacity:.8;
    background: black;
}

main.notFoundPage > .content > .text {
    text-align: center;
    align-content: center;
    justify-content: center;
    top: 400px;
    position: relative;
    color: white;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 900;
    width: 50%;
    left: 25%;
}